$cBlack: #000;
$cGray: rgb(155, 155, 155);
$cLightGray: rgb(216, 216, 216);
$cDarkGray: #333;
$cBlueMoreLight: #DDEDFB;
$cBlueLight: #9ACBF4;
$cBlue: #1586E7;
$cBlueLDark: #0C4C84;
$cBlueDark: #062642;
$cWhite: #FFFFFF;
$cContents-bg: rgba(216, 216, 216, 0.4);
$cTopBg: linear-gradient(45deg,#d0b947,#fff4c0);