/******************************************************************

Stylesheet: 960px以上のモニタで適用

******************************************************************/
.font-sm {
    font-size: 18px;
}
.font-md {
    font-size: 24px;
}
.font-lr {
    font-size: 28px;
}
.font-lg {
    font-size: 36px;
}
.contaner-mg {
    margin: 0 8%;
}

